* {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}

body {
    background-color: #212121;
}

p {
    margin: 0.2rem 0rem;
}

input {
  background-color: rgb(255 255 255 / 0.2);
  border: 1px solid grey;
  margin: 0.2rem 0rem;
}

button {
    background-color: rgb(255 255 255 / 0.8);
    color: black;
    border: none;
    font-family: inherit;
    cursor: pointer;
    padding: 0.4rem;
    border-radius: 0.4rem;
    margin: 0.2rem 0rem;
}

.header {
    margin: 0.6rem 0;
    font-size: 1.6rem;
    display: flex;
    gap: 1rem;
}

.container {
    max-width: 1000px;
    margin: auto;
}

.box {
    background-color:  rgb(255 255 255 / 0.2);
    padding: 1.2rem 1.4rem;
    border-radius: 0.8rem;
}

.yt-red-txt {
    color: #ff0106;
}

.yt-box {
    color: white;
    background-color: #ff0106;
    display: block;
    padding: 0.2rem 0.6rem;
    border-radius: 0.5rem;
}