<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>yt-dlp GUI</title>
  <style>{{ .CSS }}</style>
</head>

<body>
  <div class="container">

    <div class="header">
      <div class="yt-box">►</div>
      <p style="font-weight: bold;">
        YouTube Downloader
      </p>
      <!-- <p style="font-size: 1.0rem; margin: auto 0 0 auto;">
        a graphical user interface for the popular tool yt-dlp
      </p> -->
    </div>

    <div class="box">


      <div>
        <label for="txt-url">
          <strong>Enter YouTube URL:</strong>
        </label><br>
        <input type="text" id="txt-url" name="txt-url" style="width: 100%;"><br>
        <button id="btn-download">Download</button>
      </div>
      
      <p style="margin-top: 1rem;">
        <strong>Status:</strong> 
        <br>
        <i id="status">{{ .Status }}</i>
      </p>
  
    </div>
    
  </div>

  <script>
    {{ .JS }}
  </script>
</body>

</html>